<div class="row" *ngIf="formInputData">
  <div class="col-12 col-lg-4 mb-4">
    <div class="card">
      <dy-form-model [formConfig]="formInputData" (submit)="onSubmit($event)" (close)="onClose($event)"
        [reset]="formReset">
      </dy-form-model>
    </div>
  </div>

  <ng-container *ngIf="parentData && dySubForms.length">
    <div class="col-12 col-lg-8 mb-4">
      <div class="row">
        <div class="col-12 col-lg-12 mb-4" *ngFor="let subForm of dySubForms; let i=index;">
        <div class="card">
          <div class="card-body p-0">
            <div class="modal-header">
              <h4 class="modal-title pull-left"> {{ subForm.label | translate}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="openSubForm(subForm)">
                <span aria-hidden="true">&#43;</span>
              </button>
            </div>
            <div class="modal-body">
              <data-table [tableConfig]="subForm.subTable" [accessDetails]="accessDetails" [filterDataConfig]="parentData"
                [reload]="reloadData" (onEdit)="onOpenFormData($event); openSubForm(subForm)">
              </data-table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </ng-container>
</div>
<dy-form-popup #formPopup></dy-form-popup>
